body{
  background-color: #614B42;
  color: white;
  text-align: center;
}
h1{
  margin-top: 80px;
}
p{
  margin-bottom: 40px;
}
a{
  padding: 12px 42px;
  text-decoration: none;
  color: #614B42;
  background-color: wheat;
}